.col-md-12 {
    text-align: center;
    padding: 20px;
}

.alert-danger {
    font-family: 'Bungee';
    font-size: 16px;
    color: red;
}

#username {
    font-family: 'Bungee';
    font-size: 16px;
    margin-right: 10px;
}

#username-form {
    margin-right: 110px;
}

#password {
    font-family: 'Bungee';
    font-size: 16px;
	margin-right: 10px;
}

#password-form {
    margin-right: 110px;
}

#login {
    background-color: black;
	  color: white;
	  padding: 0px 15px;
	  text-align: center;
	  text-decoration: none;
	  display: inline-block;
	  font-family: 'Bungee';
	  font-size: 16px;
	  margin: 4px 2px;
	  cursor: pointer;
}