<mat-grid-list cols="2">
    <mat-grid-tile>
<mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>Shiba Inu</mat-card-title>
      <mat-card-subtitle>Dog Breed</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
    <mat-card-content>
      <p>
        The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
        A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
        bred for hunting.
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button>LIKE</button>
      <button mat-button>SHARE</button>
    </mat-card-actions>
  </mat-card>
  </mat-grid-tile>
  <mat-grid-tile>
<mat-card class="example-card">
    <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title style="font-family: 'Bungee';font-size: 22px;">Taylor Swift</mat-card-title>
        <mat-card-subtitle style="font-family: 'Bungee';font-size: 16px;">#1 Artist</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTcBKC_Yv9C6qSoXAqpLEDo2F-Lwl1rOQFe5Q&usqp=CAU" style="width:25%;">
    <mat-card-content style="font-family: 'Bungee';font-size: 12px;">Top 5 Streams:</mat-card-content>
    <mat-card-content style="font-family: 'Bungee';font-size: 12px;">1. willow |   Streams: 227,518,720 |   Duration: 3:34</mat-card-content>
    <mat-card-content style="font-family: 'Bungee';font-size: 12px;">2. Mr. Perfectly Fine (Taylor's Version) (From The Vault) |   Streams: 55,564,465 |    Duration: 4:37</mat-card-content>
    <mat-card-content style="font-family: 'Bungee';font-size: 12px;">3. cardigan | Streams: 269,203,630 |   Duration: 3:59</mat-card-content>
    <mat-card-content style="font-family: 'Bungee';font-size: 12px;">4. Blank Space |  Streams: 538,060,547 |   Duration: 3:51</mat-card-content>
    <mat-card-content style="font-family: 'Bungee';font-size: 12px;">5. You Need To Calm Down |    Streams: 528,422,401 |   Duration: 2:51</mat-card-content>
    <mat-card-actions><button mat-button style="font-family: 'Bungee';font-size: 16px;"><mat-icon>done</mat-icon> Already Caught!</button></mat-card-actions><mat-card-actions><button mat-button style="font-family: 'Bungee';font-size: 16px;"><mat-icon>delete</mat-icon> Remove</button></mat-card-actions>
    <mat-card-footer></mat-card-footer>
</mat-card>
</mat-grid-tile>
<mat-card>
    <mat-card-title style="font-family: 'Bungee';font-size: 22px;">J. Cole</mat-card-title><img mat-card-image src="https://i.vippng.com/png/small/269-2699399_should-this-be-my-last-breath-im-blessed.png" style="width:25%;">
    <mat-card-subtitle style="font-family: 'Bungee';font-size: 16px;">#2 Artist</mat-card-subtitle>
    <mat-card-content style="font-family: 'Bungee';font-size: 12px;">Top 5 Streams:</mat-card-content>
    <mat-card-content style="font-family: 'Bungee';font-size: 12px;">1. my.life (with 21 Savage & Morray) |   Streams: 30,798,197 |   Duration: 3:38</mat-card-content>
    <mat-card-content style="font-family: 'Bungee';font-size: 12px;">2. amari |   Streams: 28,386,122 |    Duration: 2:28</mat-card-content>
    <mat-card-content style="font-family: 'Bungee';font-size: 12px;">3. pride.is.the.devil |  Streams: 27,905,954 |   Duration: 3:38</mat-card-content>
    <mat-card-content style="font-family: 'Bungee';font-size: 12px;">4. No Role Modelz |  Streams: 963,909,477 |   Duration: 4:52</mat-card-content>
    <mat-card-content style="font-family: 'Bungee';font-size: 12px;">5. interlude |    Streams: 42,648,032 |   Duration: 2:13</mat-card-content>
    <mat-card-actions><button mat-button style="font-family: 'Bungee';font-size: 16px;"><mat-icon>add</mat-icon> My Bucket</button></mat-card-actions>
    <mat-card-footer></mat-card-footer>
</mat-card>
<mat-card>
    <mat-card-title style="font-family: 'Bungee';font-size: 22px;">Olivia Rodrigo</mat-card-title><img mat-card-image src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTk0T7Qn-FZ6KObZtlRdQV7mMuoEH6rAS38UA&usqp=CAU" style="width:25%;">
    <mat-card-subtitle style="font-family: 'Bungee';font-size: 16px;">#3 Artist</mat-card-subtitle>
    <mat-card-content style="font-family: 'Bungee';font-size: 12px;">Top 5 Streams:</mat-card-content>
    <mat-card-content style="font-family: 'Bungee';font-size: 12px;">1. drivers license |   Streams: 764,556,841 |   Duration: 4:02</mat-card-content>
    <mat-card-content style="font-family: 'Bungee';font-size: 12px;">2. deja vu |   Streams: 182,272,492 |    Duration: 3:35</mat-card-content>
    <mat-card-content style="font-family: 'Bungee';font-size: 12px;">3. good 4 u | Streams: 77,188,024 |   Duration: 2:58</mat-card-content>
    <mat-card-content style="font-family: 'Bungee';font-size: 12px;">4. brutal |  Streams: 10,448,872 |   Duration: 2:23</mat-card-content>
    <mat-card-content style="font-family: 'Bungee';font-size: 12px;">5. traitor |   Streams: 10,288,697 |   Duration: 3:49</mat-card-content>
    <mat-card-actions><button mat-button style="font-family: 'Bungee';font-size: 16px;"><mat-icon>add</mat-icon> My Bucket</button></mat-card-actions>
    <mat-card-footer></mat-card-footer>
</mat-card>