<link href='https://fonts.googleapis.com/css?family=Bungee Shade' rel='stylesheet'>
<link href='https://fonts.googleapis.com/css?family=Bungee' rel='stylesheet'>

<mat-toolbar color="primary" class="expanded-toolbar">
  <span>
    <button mat-button routerLink="/" style="font-family: 'Bungee Shade';font-size: 22px;">{{title}}</button>
    <button mat-button routerLink="/home" style="font-family: 'Bungee';font-size: 12px;"><mat-icon>home</mat-icon> Home</button>
    <button mat-button *ngIf="showModeratorBoard" routerLink="/mod" style="font-family: 'Bungee';font-size: 12px;"><mat-icon>face</mat-icon> Mod</button>
    <button mat-button *ngIf="!isLoggedIn" routerLink="/register" style="font-family: 'Bungee';font-size: 12px;"><mat-icon>note</mat-icon> Register</button>
    <button mat-button *ngIf="!isLoggedIn" routerLink="/loginUser" style="font-family: 'Bungee';font-size: 12px;"><mat-icon>login</mat-icon> Login</button>
    <button mat-button *ngIf="isLoggedIn" routerLink="/recommendation" style="font-family: 'Bungee';font-size: 12px;"><mat-icon>done</mat-icon> Recommendations</button>
    <button mat-button *ngIf="isLoggedIn" routerLink="/mybucket" style="font-family: 'Bungee';font-size: 12px;"><mat-icon>audiotrack</mat-icon> My Bucket</button>
    <button mat-button *ngIf="isLoggedIn" routerLink="/search" style="font-family: 'Bungee';font-size: 12px;"><mat-icon>sailing</mat-icon> Search</button>
    <!-- <button mat-button *ngIf="isLoggedIn" routerLink="/profile" style="font-family: 'Bungee';font-size: 12px;"><mat-icon>face</mat-icon> Profile</button> -->
    <button mat-button *ngIf="isLoggedIn" (click)="logout()" style="font-family: 'Bungee';font-size: 12px;"><mat-icon>logout</mat-icon> Logout</button>
  </span>
  <!-- <mat-search-bar></mat-search-bar> -->
  <!-- <button mat-button showAdminBoard routerLink="/calculator"><mat-icon>dialpad</mat-icon></button> -->
</mat-toolbar>
<router-outlet></router-outlet>

<p class="mt-5 mb-3 text-muted" style="font-family: 'Bungee';font-size: 22px;padding-top: 20px;text-align: center;">&copy; 2021 * Powered by Bootstrap Bill<img src="https://pbs.twimg.com/profile_images/1238582163462934530/21bCIhYQ.jpg" class="img-circle" alt="Bootstrap Bill" style="display:inline-block;width:2%;padding-left: 5px;"></p>