h3 {
    text-align: center;
    padding: 20px;
    font-family: 'Bungee Shade';
    font-size: 28px;
}

strong {
    text-align: center;
    padding: 20px;
    font-family: 'Bungee';
    font-size: 22px;
}

#loggedOut {
    text-align: center;
    padding: 20px;
    font-family: 'Bungee';
    font-size: 22px;
}