#search {
    background-color: black;
        color: white;
        padding: 0px 15px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-family: 'Bungee';
        font-size: 16px;
        margin: 4px 2px;
        cursor: pointer;
}

table {
    font-family: 'Bungee';
    font-size: 15px;
    border-collapse: collapse;
    width: 100%;
    }
    
  td, th {
    border: 1px solid #dddddd;
    text-align: center;
    padding: 8px;
  }
    
  tr:nth-child(even) {
      background-color: #dddddd;
  }

  alert {
    font-family: 'Bungee';
    font-size: 15px;
  }