<link href='https://fonts.googleapis.com/css?family=Bungee Shade' rel='stylesheet'>
<link href='https://fonts.googleapis.com/css?family=Bungee' rel='stylesheet'>

<main class="form-signin">
  <form>
    <h1 class="h3 mb-3 fw-normal" style="font-family:'Bungee Shade';font-size: 36px;text-align: center;">Catch a tune with TasteBass!</h1>
    <mat-divider></mat-divider>
    <p style="font-family:'Bungee';font-size: 20px;text-align: center;">Whether you're looking to compile your own favorite music collection</p>
    <p style="font-family:'Bungee';font-size: 20px;text-align: center;">or see what other fishy tracks are out in the sea,</p>
    <p style="font-family:'Bungee';font-size: 20px;text-align: center;">TasteBass is the place for you!</p>
	<img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTzjgSK9cCn-zp_ohZgBs-Q77-b3_Tx4tjZuQ&usqp=CAU" class="img-thumbnail" alt="Reimbursement">
  </form>
</main>