.col-md-12 {
    text-align: center;
    padding: 20px;
}

.alert-danger {
    font-family: 'Bungee';
    font-size: 16px;
    color: red;
}

.alert-warning {
    font-family: 'Bungee';
    font-size: 16px;
    color: red;
}

.alert-success {
    font-family: 'Bungee';
    font-size: 16px;
    color: green;
}

#firstName {
    font-family: 'Bungee';
    font-size: 16px;
    margin-right: 10px;
}

#firstName-form {
    margin-right: 126px;
}

#lastName {
    font-family: 'Bungee';
    font-size: 16px;
    margin-right: 10px;
}

#lastName-form {
    margin-right: 118px;
}

#username {
    font-family: 'Bungee';
    font-size: 16px;
    margin-left: 108px;
    margin-right: 10px;
}

#userconstraint {
    font-family:'Bungee';
    font-size: 10px;
    margin-left: 10px;
}

#email {
    font-family: 'Bungee';
    font-size: 16px;
    margin-left: 60px;
    margin-right: 10px;
}

#emailconstraint {
    font-family:'Bungee';
    font-size: 10px;
    margin-left: 10px;
}

#password {
    font-family: 'Bungee';
    font-size: 16px;
    margin-left: 78px;
    margin-right: 10px;
}


#passwordconstraint {
    font-family:'Bungee';
    font-size: 10px;
    margin-left: 10px;
}

#signup {
    background-color: black;
        color: white;
        padding: 0px 15px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-family: 'Bungee';
        font-size: 16px;
        margin: 4px 2px;
        cursor: pointer;
}